# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
/artifacts/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
google-services.json
*.jks
*.keystore
credentials.json
**/adi-registration.properties

# CNG: diretorios nativos sao gerados sob demanda
/android
/ios
/.gradle-user-home

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
